<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mconcreta -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mconcreta.presentation.MconcretaModelWizardID"
            name="%_UI_MconcretaModelWizard_label"
            class="mconcreta.presentation.MconcretaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MconcretaModelFile.gif">
         <description>%_UI_MconcretaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mconcreta -->
      <editor
            id="mconcreta.presentation.MconcretaEditorID"
            name="%_UI_MconcretaEditor_label"
            icon="icons/full/obj16/MconcretaModelFile.gif"
            extensions="mconcreta"
            class="mconcreta.presentation.MconcretaEditor"
            contributorClass="mconcreta.presentation.MconcretaActionBarContributor">
      </editor>
   </extension>

</plugin>
