<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated abstracta -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="abstracta.presentation.AbstractaModelWizardID"
            name="%_UI_AbstractaModelWizard_label"
            class="abstracta.presentation.AbstractaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AbstractaModelFile.gif">
         <description>%_UI_AbstractaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated abstracta -->
      <editor
            id="abstracta.presentation.AbstractaEditorID"
            name="%_UI_AbstractaEditor_label"
            icon="icons/full/obj16/AbstractaModelFile.gif"
            extensions="abstracta"
            class="abstracta.presentation.AbstractaEditor"
            contributorClass="abstracta.presentation.AbstractaActionBarContributor">
      </editor>
   </extension>

</plugin>
